<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Host Name</string>
                <key>Key</key>
                <string>host</string>
                <key>DefaultValue</key>
                <string>Farris</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>Connection Information</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>AutocapitalizationType</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
                <key>DefaultValue</key>
                <string></string>
                <key>IsSecure</key>
                <false/>
                <key>Key</key>
                <string>username</string>
                <key>KeyboardType</key>
                <string>Alphabet</string>
                <key>Title</key>
                <string>Username</string>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
            </dict>
            <dict>
                <key>AutocapitalizationType</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
                <key>DefaultValue</key>
                <string></string>
                <key>IsSecure</key>
                <true/>
                <key>Key</key>
                <string>password</string>
                <key>KeyboardType</key>
                <string>Alphabet</string>
                <key>Title</key>
                <string>Password</string>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
            </dict>
            <dict>
                <key>AutocapitalizationType</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
                <key>DefaultValue</key>
                <string>http://legacy.conventioninnovations.com</string>
                <key>IsSecure</key>
                <false/>
                <key>Key</key>
                <string>server</string>
                <key>KeyboardType</key>
                <string>Alphabet</string>
                <key>Title</key>
                <string>Server (Required)</string>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Show (Required)</string>
                <key>Key</key>
                <string>show</string>
                <key>DefaultValue</key>
                <string>20</string>
                <key>IsSecure</key>
                <false/>
                <key>KeyboardType</key>
                <string>Alphabet</string>
                <key>AutocapitalizationType</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
                <key>Title</key>
                <string>Printer</string>
                <key>Key</key>
                <string>printer</string>
                <key>AutocapitalizationType</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
                <key>KeyboardType</key>
                <string>Alphabet</string>
                <key>IsSecure</key>
                <false/>
                <key>DefaultValue</key>
                <string></string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
